
@keyframes moveinRight{
    0%{
        opacity: 0;
        transform: translateX(-100px);

    }
    80%{
    
        transform: translateX(20px);

    }
    100%{
        opacity: 1;
        transform: translateX(0px);

    }
}
@keyframes moveinLeft{
    0%{
    
        opacity: 0;
        transform: translateX(100px);

    }
    80%{
    
        transform: translateX(-20px);

    }
    100%{

        opacity: 1;
        transform: translateX(0px);
   }
}
@keyframes moveInBottom{
  0%{
transform: translateY(80px);
  }
  100%{
      transform: translateY(0);
      -webkit-transform: translateY(0);
      -moz-transform: translateY(0);
      -ms-transform: translateY(0);
      -o-transform: translateY(0);
}
}